// Font
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$font-family: 'Karla', sans-serif;
$font-regular: 400;
$font-bold: 700;

$heading-size: 20px;
$regular-size: 15px;

// Colors
$background-color: hsl(206, 47%, 93%);

$first-bg-color: rgb(255, 255, 255);
$second-bg-color: hsl(179, 61%, 44%);
$last-bg-color: hsl(179, 47%, 52%);

$regular-text-color: hsl(218, 22%, 67%);

$button-color: hsl(71, 73%, 54%);